.headline {
  text-align: center;
}
.headline h1 {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}
.headline p {
  font-size: 16px;
}
.weblist {
  text-align: center;
  padding: 60px 0;
}
.weblist_type h2 {
  font-size: 24px;
  font-family: 'Bad Script', cursive;
  font-weight: 700;
}

/* isotope */
.brand {
  text-align: center;
}

.brand img {
  width: 50px;
}

.p1:hover,
.p2:hover {
  opacity: 0.3;
  cursor: pointer;
}

h4 {
  color: grey;
  font-size: 24px;
  font-weight: 400;
}

#portfolio p {
  color: grey;
  font-size: 12px;
  font-weight: 200;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.single-content {
  width: 100%;
}

/* .single-content img {
  width: 290px;
  height: 100%;
  margin: 10px;
} */

.filters {
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px 0;
}

li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

li:hover {
  color: #a6a6a6;
}

li.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
}
/* isotope */

@media (max-width: 768px) {
  li {
    padding: 10px 12px;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 560px) {
  li {
    display: grid;
    place-items: center;
  }

  .mt_6 {
    margin-top: 25%;
  }
}
